@model webapp.Models.ViewModels.GroupViewModel;


<tbody>
  <!-- start of table row -->
  <tr>
    <td></td>
    <td class="link-hover"><a href="#">@Model.Info.Name</a></td>
    <td>
      <ul class="list-inline mb-0">
        <div class="row">
          @foreach (var member in Model.Members)
          {
            @if (member.Email == Model.Info.Leader.Email)
            {
              <li>@member.GivenName @member.LastName (Leader)</li>
            }
            else
            {
              <li>@member.GivenName @member.LastName</li>
            }
            <input name="GroupName" class="d-none" value="@Model.Info.Name" />
            <input name="StudentEmail" class="d-none" value="@member.Email" />
          }
      </ul>
    </td>
    <td>
      <button type="button" class="btn btn-apc" data-bs-toggle="modal"
        data-bs-target="#EditModal@(Model.Info.Id)">Edit</button>

      <!-- start of edit modal -->
      <div class="modal fade" id="EditModal@(Model.Info.Id)" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Group</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                hx-on-click="location.reload()"></button>
            </div>
            <div class="modal-body">
              <div class="container py-2">
                <h5>Group Name</h5>
                <input type="text" class="form-control" placeholder="Group Name" value="@Model.Info.Name">
              </div>

              <div class="container">
                <form>
                  <h5>Leader</h5>
                  <div class="row">
                    <div class="col-md-7">
                      <input name="GroupName" class="d-none group-name" value="@Model.Info.Name" />
                      <select class="form-select" name="StudentEmail" id="choose-leader-select"
                        hx-get="/Form/GroupMembers/@Model.Info.Name"
                        hx-trigger="intersect once"
                        hx-include="previous .group-name"
                        hx-params="GroupName"
                        hx-target="this"
                        hx-swap="innerHTML"
                        hx-swap-oob="outerHTML"
                        hx-disabled-elt="next .add-member"
                      >
                        <!option>Loading...</!option>
                      </select>
                    </div>
                    <div class="col">
                      <button class="btn btn-primary add-member float-end"
                        hx-post="/Groups/ChangeLeader"
                        hx-trigger="click"
                        hx-target="next table"
                        hx-select="#members"
                        hx-swap="innerHTML"
                        hx-confirm="Are you sure you want this student be the leader of @Model.Info.Name?">
                        Change Leader
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="container py-2">
                <form>
                  <h5>Members</h5>
                  <div class="row">
                    <div class="col-md-8">
                      <input name="GroupName" class="d-none group-name" value="@Model.Info.Name" />
                      <select class="form-select" name="StudentEmail" id="add-member-select"
                        hx-get="/Form/NonGroupMembers/@Model.Info.Name"
                        hx-trigger="intersect once"
                        hx-include="previous .group-name"
                        hx-params="GroupName"
                        hx-target="this"
                        hx-swap="innerHTML"
                        hx-swap-oob="outerHTML"
                        hx-disabled-elt="next .add-member">
                        <!option>Loading...</!option>
                      </select>
                    </div>

                    <div class="col">
                      <button class="btn btn-primary add-member"
                        hx-post="/Groups/AddMember"
                        hx-trigger="click"
                        hx-target="next table"
                        hx-select="#members"
                        hx-swap="innerHTML"
                        hx-confirm="Are you sure you want to add this member to @Model.Info.Name?"
                      >
                        Add Member
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="container pt-3">
                <table class="table" id="members">
                  <thead>
                    <tr>
                      <th scope="col" width="35%">Name</th>
                      <th scope="col" width="30%">Role</th>
                      <th scope="col" width="35%">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var member in Model.Members)
                    {
                      <tr>
                        <td>@member.GivenName @member.LastName</td>

                        @if (member.Email == Model.Info.Leader.Email)
                        {
                          <td>Leader</td>
                          <td></td>
                        }
                        else
                        {
                          <td>Member</td>
                          <td>
                            <form>
                              <input name="GroupName" class="d-none" value="@Model.Info.Name" />
                              <input name="StudentEmail" class="d-none" value="@member.Email" />
                              <button class="btn btn-danger btn-sm"
                                hx-post="/Groups/RemoveMember"
                                hx-trigger="click"
                                hx-target="closest table"
                                hx-select="#members"
                                hx-select-oob="#choose-leader-select, #add-member-select"
                                hx-swap="outerHTML"
                                hx-confirm="Are you sure you want to remove this member?"
                              >
                                Remove member
                              </button>
                            </form>
                          </td>
                        }
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                hx-on-click="location.reload()">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- end of edit modal -->

      <!-- <button type="button" class="btn btn-danger">Delete</button> -->
    </td>
  </tr>
</tbody>
