@model webapp.Models.ViewModels.ProjectViewModel;

<h1>@Model.Title</h1>
<p>Group: @Model.Group</p>
<p>Document: @Model.DocumentUrl</p>
<p>Abstract: @Model.Abstract</p>
<p>State: @Model.State</p>
<p>School: @Model.School</p>
<p>Subject: @Model.Subject</p>
<p>Course: @Model.Course</p>
