@model webapp.Models.ViewModels.ProjectViewModel;

<h2>@Model.Title</h2>
<p>Group: @Model.Group</p>
<p>Document: <a href="/Projects/Download/@Model.Id">Download</a></p>
@if (@Model.HasPrf)
{
    <p>PRF: <a href="/Projects/DownloadPrf/@Model.Id">Download</a></p>
}
<p>Abstract: @Model.Abstract</p>
<p title="@Model.StateDescription">State: @Model.State (@(Model.StateId)/@((int)States.Published))</p>
<p>School: @Model.School</p>
<p>Subject: @Model.Subject</p>
<p>Course: @Model.Course</p>
@if(Model.Comment != null)
{
    <p>Comment: @Model.Comment</p>
}
<a href="/Projects/Edit/@Model.Id">Edit</a>
@switch (@Model.Action)
{
    case "Approve":
        <a href="/Projects/Reject/@Model.Id" class="btn btn-danger">
            Return
        </a>
        <a href="/Projects/Accept/@Model.Id" class="btn btn-primary">
            Approve
        </a>
        break;

    case "Submit":
        <form hx-encoding="multipart/form-data">
            <input name="ProjectId" value="@Model.Id" class="invisible" />
            <input name="File" class="form-control" type="file" />
            <button class="btn btn-primary"
                hx-post="Projects/Submit"
                hx-swap="none"
                hx-on--after-request="location.reload()"
            >
                Submit
            </button>
        </form>
        break;

    case "Assign":
        <form>
            <input name="ProjectId" value="@Model.Id" class="invisible" />
            <select name="ProofreaderEmail"
                hx-get="Form/Proofreaders"
                hx-trigger="intersect once"
                hx-target="this"
                hx-swap="innerHTML"
            >
                <!option>Loading...</!option>
            </select>
            <input name="Deadline" type="date" />
            <button class="btn btn-primary"
                hx-post="Projects/Assign"
                hx-swap="none"
                hx-on--after-request="location.reload()"
                hx-on--response-error="this.innerText = 'Invalid date'"
            >
                Assign
            </button>
            <span class="text-danger"></span>
        </form>
        break;

    default:
        break;
}
