@model webapp.Models.ViewModels.ProjectViewModel;

<tbody>
    <tr>
        <td></td>
        <td class="link-hover"><a href="/Projects/View/@Model.Id">@Model.Title</a></td>
        <td class="text-muted">
        <span class="ms-1 hover-text hover-text-1">@Model.Group.Info.Name</span>
        </td>
        <td class="text-muted">@Model.State.Name (@(Model.State.Id)/@((int)States.Published))</td>
        <td>
        <ul class="list-inline mb-0">
            <li class="list-inline-item dropdown">
            <a class="text-muted font-size-18 px-2" href="#" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path
                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                </svg></a>
            <div class="dropdown-menu dropdown-menu-end">
                <a href="/Projects/View/@Model.Id" class="dropdown-item">View</a>
                @if (Model.Action == "Submit"
                && ViewData["UserType"] as string == "student")
                {
                    <a href="/Projects/Edit/@Model.Id" class="dropdown-item">Edit</a>
                }
                @switch (@Model.Action)
                {
                    case "Approve":
                        <a href="/Projects/Reject/@Model.Id" class="dropdown-item">
                            Return
                        </a>
                        <a href="/Projects/Accept/@Model.Id" class="dropdown-item">
                            Approve
                        </a>
                        break;

                    case "Submit":
                        <a href="/Projects/Submit/@Model.Id" class="dropdown-item" type="submit">
                            Submit
                        </a>
                        break;

                    case "CompletePrf":
                        <a href="/Projects/View/@Model.Id" class="dropdown-item">
                            Submit
                        </a>
                        break;

                    case "Publish":
                        <a href="/Projects/PublishRecord/@Model.Id" class="dropdown-item">
                            Publish
                        </a>
                        break;

                    case "Assign":
                            <a href="/Projects/View/@Model.Id" class="dropdown-item">
                                Assign proofreader
                            </a>
                        break;

                    default:
                        break;
                }
            </div>
            </li>
        </ul>
        </td>
    </tr>
</tbody>