@model webapp.Models.ViewModels.ProjectViewModel;

<h2>@Model.Title</h2>
<p>Group: @Model.Group</p>
<p>Document: <a href="/Projects/Download/@Model.Id">Download</a></p>
@if (@Model.HasPrf)
{
    <p>PRF: <a href="/Projects/DownloadPrf/@Model.Id">Download</a></p>
}
@if (@Model.HasPdf)
{
    <p>PRF: <a href="/Projects/DownloadPdf/@Model.Id">Download</a></p>
}
<p>Abstract: @Model.Abstract</p>
<p title="@Model.StateDescription">State: @Model.State (@(Model.StateId)/@((int)States.Published))</p>
<p>School: @Model.School</p>
<p>Subject: @Model.Subject</p>
<p>Course: @Model.Course</p>
<a href="/Projects/View/@Model.Id" class="btn btn-primary">View</a>
@if(Model.StaffComment != null)
{
    <p>Staff Comment: @Model.StaffComment</p>
}
@if(Model.StudentComment != null)
{
    <p>Student Comment: @Model.StudentComment</p>
}
@if (Model.Action == "Submit"
    && ViewData["UserType"] as string == "student")
{
    <a href="/Projects/Edit/@Model.Id" class="btn btn-primary">Edit</a>
}
@switch (@Model.Action)
{
    case "Approve":
        <a href="/Projects/Reject/@Model.Id" class="btn btn-danger">
            Return
        </a>
        <a href="/Projects/Accept/@Model.Id" class="btn btn-primary">
            Approve
        </a>
        break;

    case "Submit":
        <a href="/Projects/Submit/@Model.Id" class="btn btn-primary" type="submit">
            Submit
        </a>
        break;

    case "CompletePrf":
        <form hx-encoding="multipart/form-data">
            <input name="ProjectId" value="@Model.Id" class="invisible" />
            <input name="Prf" class="form-control" type="file" />
            <button class="btn btn-primary"
                hx-post="/Projects/CompletePrf"
                hx-swap="none"
                hx-on--after-request="location.reload()"
                hx-on--response-error="this.innerText = 'A completed PRF of type PDF is required.'"
            >
                Submit
            </button>
        </form>
        break;

    case "Publish":
        <a href="/Projects/PublishRecord/@Model.Id" class="btn btn-primary">
            Publish
        </a>
        break;

    case "Assign":
        <form>
            <select name="ProofreaderEmail"
                hx-get="/Form/Proofreaders"
                hx-trigger="intersect once"
                hx-target="this"
                hx-swap="innerHTML"
            >
                <!option>Loading...</!option>
            </select>
            <input name="Deadline" type="date" />
            <button class="btn btn-primary"
                hx-post="/Projects/Assign/@Model.Id"
                hx-swap="none"
                hx-on--after-request="location.reload()"
                hx-on--response-error="this.innerText = 'Invalid date'"
            >
                Assign
            </button>
            <span class="text-danger"></span>
        </form>
        break;

    default:
        break;
}
