@model webapp.Models.Dtos.RejectDto;
@{
    ViewData["Title"] = "Rejecting...";
    var projectInfo = (webapp.Models.ViewModels.ProjectViewModel)ViewData["ProjectInfo"]!;
}

<a href="/Projects/" class="poppins text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
    </svg>
    ‎ Back to projects
</a>

<h1 class="heading1 poppins pt-4">Rejecting @projectInfo.Title</h1>

<div class="pt-5">
    <div class="row">
        <div class="col-md-5">
            <img src="~/img/file.png" style="width:400px;" />
            <div class="pt-4">
                <a href="/Projects/Download/@projectInfo.Id" class="btn btn-apc btn-sm">Download the manuscript</a>
                @if (@projectInfo.HasPrf)
                {
                    <a href="/Projects/DownloadPrf/@projectInfo.Id" class="btn btn-apc btn-sm">Download the PRF</a>
                }
                @if (@projectInfo.HasPdf)
                {
                    <a href="/Projects/DownloadPdf/@projectInfo.Id" class="btn btn-apc btn-sm">Download the manuscript (PDF)</a>
                }
            </div>
        </div>
        <div class="col">
            <div class="border px-5 py-5">
                <p>Group: @projectInfo.Group.Info.Name</p>
                <p>Abstract: @projectInfo.Abstract</p>
                <p title="@projectInfo.State.Desc">State: @projectInfo.State.Name (@(projectInfo.State.Id)/@((int)States.Published))</p>
                <p>School: @projectInfo.School</p>
                <p>Course: @projectInfo.Course</p>
                <p>Subject: @projectInfo.Subject</p>
                
                @if (projectInfo.StaffComment != null)
                {
                    <p>Staff Comment: @projectInfo.StaffComment</p>
                }
                @if (projectInfo.StudentComment != null)
                {
                    <p>Student Comment: @projectInfo.StudentComment</p>
                }
                <hr />
                
                <form method="post" enctype="multipart/form-data" asp-action="Reject">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Comment" class="control-label">Remarks</label>
                    <input type="text" asp-for="Comment" class="form-control" placeholder="Remarks" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                    <label asp-for="File" class="control-label">Annotated Manuscript</label>
                    <input asp-for="File" class="form-control" type="file" />
                    <span asp-validation-for="File" class="text-danger"></span>
                    <div class="py-3">
                        <button type="submit" value="Submit" class="btn btn-apc float-end">Return to students</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
